{% extends "base.html" %}

{% block title %}
Confirm email
{% endblock title %}

{% block nav %}
{% include "nav.html" %}
{% endblock nav %}

{% block content %}
<main class="card mx-5 my-2 p-4">
    <form class="form" action="{% url 'accounts:confirm_email' user %}" method="post">
        {% csrf_token %}
        <p>Please enter the confirmation code sent to your email to confirm your email. <br>This step is required for
            your accounts to be activated.</p>
        <p>
            <input class="form-control" type="text" placeholder="Confirmation code" name="code" required
                autocomplete="off">
        </p>
        <p>
            <input class="btn btn-primary btn-sm" type="submit" value="Confirm Email">
        </p>
    </form>
</main>
{% endblock content %}