{% extends "base.html" %}

{% block title %}
Password reset complete
{% endblock title %}

{% block content %}
<main class="mx-5 my-3 p-2">
    <div class="card">
        <div class="card-header">
           <b> Password reset complete</b>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
                Your password has been successfully reset. You can now <a href="{% url 'accounts:login_view' %}">log
                    in</a> with your new password.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </p>
        </div>
    </div>
</main>
{% endblock content %}