{% extends "base.html" %}

{% block title %}
Register
{% endblock title %}

{% block nav %}
{% include "nav.html" %}
{% endblock nav %}

{% block content %}
<main>
    <form class="from mx-5 my-2 p-2" method="post" action="{% url 'accounts:register_view' %}" class="text-center form">
        {% csrf_token %}
        <p>
            <input class="form-control" style="width: 15rem;" type="text" placeholder="Username" required
                name="username">
        </p>
        <p>
            <input class="form-control" style="width: 15rem;" type="email" name="email" placeholder="Email" required>
        </p>
        <p>
            <input class="form-control" style="width: 15rem;" type="password" name="password" placeholder="Password"
                required>
        </p>
        <p>
            <input class="form-control" style="width: 15rem;" type="password" name="password2"
                placeholder="Confirm Password" required>
        </p>
        <p>
            Request email activation link <a href="{% url 'request-new-link-from-email' %}">here</a>
        </p>
        <br>
        <input class="btn btn-primary btn-sm" type="submit" value="Register">
    </form>
</main>
{% endblock content %}