{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block nav %}
{% include "nav.html" %}

{% endblock nav %}

{% block content %}
<main>
    <form method="post" class="form mx-5 my-2 p-2">
        {% csrf_token %}
        <p>
            <input class="form-control" style="width: 15rem;" type="text" placeholder="User Name" required
                name="username">
        </p>
        <p>
            <input class="form-control" style="width: 15rem;" type="email" placeholder="example@mail.com" required
                name="email">
        </p>
        <p>
            <input class="form-control" style="width: 15rem;" type="password" name="password" placeholder="Password"
                required>
        </p>
        <p>
            <input class="form-control" style="width: 15rem;" type="password" name="password1"
                placeholder="Confirm Password" required>
        </p>
        <br>
        <input type="submit" class="btn btn-primary btn-sm" value="Register">
    </form>
</main>
{% endblock content %}